**
!Dockerfile
!LICENSE
!Cargo.toml
!Cargo.lock
!client/Cargo.toml
!client/src/
!client/src/**
!server/Cargo.toml
!server/build.rs
!server/src/
!server/src/**
!server/web/package.json
!server/web/package-lock.json
!server/web/index.html
!server/web/vite.config.js
!server/web/src/
!server/web/src/**
